

<footer >
    <div class="container-pie container-fluid py-2">
      <div class="row align-items-start">
        <div class="col-sm-4 col-md-4 col-lg-4 py-5">
          <h4 class="footer-link"> Estamos También </h4>
          <p> <i class="bi-su bi-geo-alt-fill"></i>
          <span class="text-primary"> Dirección: </span>  Cra. 20 #4-89 a 4-1, Tabio, Cundinamarca, Colombia</p>
          <p> <i class="bi-su bi-geo-alt"></i>
            <span class="text-primary"> Dirección: </span>  Cra. 16 #13-53 a 13-1, Funza, Cundinamarca, Colombia</p> 
          <p> <i class="bi-su fs-5 bi-telephone-inbound-fill"></i>  031-8654211 </p> 
          <p> <i class="bi-su bi-telephone-inbound"></i> 061-8646570</p>
          <p> <i class="bi-su bi-envelope-at-fill"></i> ventassuper-casas.com </p> 
        </div>
        <div class=" col-sm-4 col-lg-4 col-md-4 py-5">
          <h4 class="footer-link"> Ubicación</h4>
          <p><span class="text-primary"> Dirección: </span>  45A #1 Sur-84 a 1 Sur-2  Cajicá, Cundinamarca, Colombia</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31801.68246317317!2d-74.04014612392562!3d4.904437810982019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e40776312d8c353%3A0x308b2cd7eafd3454!2sCajic%C3%A1%2C%20Cundinamarca%2C%20Colombia!5e0!3m2!1sen!2sus!4v1722546682502!5m2!1sen!2sus" width="  350" height="250" class="border border-primary" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 py-5">
          <h4 class="footer-link"> Suscribete a Nuestra Página</h4>
          <p>Suscríbete a Nuestra Página
            Obtenga las últimas noticias de la empresa y  de nuestros proyectos para obtrener tu vivienda en el menor tiempo posible.</p>
            <i class="bi-go bi-twitter-x"></i>
            <i class="bi-go bi-linkedin"></i>
            <i class="bi-go bi-whatsapp"></i>
            <i class="bi-go bi-facebook"></i>
            <i class="bi-go bi-instagram"></i>
            <i class="bi-go bi-telegram"></i>
              <div class="mb-3 text-start">
            <a href="contacto"><button type="button" class="btn btn-outline-dark rounded-pill">Suscribirse</button></a>
        </div>
      </div>
    </div>
</div>
  </footer>
