.container-pie {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


.footer-link{
    border-bottom: 2px solid #000;
    padding-bottom: 15px;
}

.bi-go { 
    display: inline-block;
    width: 50px;
    font-size: 30px;
}

.border {
    width: 100%;
}

.d-block{
    height: 500px;
}

.btn{
    width: 75%;
}