<app-header></app-header>

<section class="card-portafolio-cuatro position-relative">
    <img src="image-5.webp" class="card-img" alt="...">
    <div class="w-85 mx-auto">
    <div class="contenido-dos position-absolute">
      <h1 class="card-text fw-semibold text-white-mobile">VISTANA</h1>
    </div>
  </div>
</section>

<section class="reconocimiento-cuatro position-relative py-5" id="sobre-nosotros">
<div class="container container-fluid">
<div class="row align-items-center">
<div class="col-6 ps-5">
<h1 class="pb-4 text-center"><span class="text-black "> “ Sobre Nosotros ”</span> </h1>
<img src="compra_de_vivienda.jpeg" alt="" class="img-nosotros border border-black">
   </div>
   <div class="col-6">
    <p class="text-black text-center fs-4">En <span class="text-danger">VISTANA</span>, nos dedicamos a hacer realidad los sueños de nuestros clientes al encontrar el hogar perfecto.
     Con más de 20 años de experiencia en el mercado inmobiliario, hemos construido una reputación basada en la confianza, la transparencia y el compromiso con la excelencia.
    Nuestro equipo de expertos está aquí para guiarte en cada paso del proceso de compra, venta o alquiler de propiedades.
     Nos enorgullece ofrecer un servicio personalizado que se adapta a las necesidades únicas de cada cliente, asegurando que cada transacción sea una experiencia positiva y sin complicaciones.</p> 
</div>
</div>
</div>
</section>

<section class="reconocimiento-cinco position-relative py-5" id="sobre-mision">
<div class="container container-fluid">
<div class="row align-items-center">
<div class="col-6 ps-5 order-2">
<h1 class="pb-4 text-center"><span class="text-primary "> Nuestra Misión </span> </h1>
<img src="mision.jpg" alt="" class="img-nosotros-tres border border-primary">
 </div>
 <div class="col-6">
  <p class="text-primary text-center fs-3">Proporcionar soluciones inmobiliarias integrales con profesionalismo y dedicación, 
    ayudando a nuestros clientes a encontrar el hogar de sus sueños o a vender sus propiedades al mejor precio del mercado.</p> 
</div>
</div>
</div>
</section>

<section class="reconocimiento-seis position-relative py-5" id="valores">
<div class="container container-fluid">
<div class="row align-items-center">
<div class="col-6 ps-5">
<h1 class="pb-4 text-center"><span class="text-white">Nuestros Valores</span> </h1>
<img src="valores.jpg" alt="" class="img-nosotros border border-warning">
 </div>
 <div class="col-6">
  <p class="text-white fs-3"> <i class="bi-su bi-check2"></i> Integridad: Actuamos con honestidad y transparencia en todas nuestras transacciones.</p> 
  <p class="text-white fs-3" > <i class="bi-su bi-check2"></i> Compromiso: Nos dedicamos a superar las expectativas de nuestros clientes.</p> 
  <p class="text-white fs-3"> <i class="bi-su bi-check2"></i> Innovación: Utilizamos las últimas tecnologías y estrategias de marketing para ofrecer el mejor servicio.</p>
  <p class="text-white fs-3"> <i class="bi-su bi-check2"></i> Excelencia: Nos esforzamos por alcanzar la perfección en todo lo que hacemos.</p>  
</div>
</div>
</div>
</section>

<section class="reconocimiento-siete position-relative py-5" id="vision">
<div class="container container-fluid">
<div class="row align-items-center">
<div class="col-6 ps-5 order-2">
<h1 class="pb-4 text-center"><span class="text-danger"> Nuestra Visión </span> </h1>
<img src="vision.webp" alt="" class="img-nosotros-dos border border-danger">
 </div>
 <div class="col-6">
  <p class="text-danger text-center fs-3">Ser la empresa líder en el sector inmobiliario, reconocida por nuestra integridad, 
    innovación y compromiso con la satisfacción del cliente.</p> 
</div>
</div>
</div>
</section>
