.logo-img {
    width: 130px;
}

.nav-link {
    color: #000000!important;
}

.w-85 {
    width: 85%;
}

.nav-link:hover, .nav-link.show  {
    color: #bf5142 !important; 
}

.dropdown-item {
    color: #000000 !important;
}

.dropdown-item:hover, .dropdown-item.show {
    color: #bf5142 !important; 
}

video {
    height: 580px;
    width: 100%;
}

.contenido {
    max-width: 300px;
    bottom: 20%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.header {
    width: 100%;
    z-index: 1;
}

.mostrar-mobile {
    display: none;
}

.ocultar-mobile {
    display: block;
}

.imagen-banner{
    width: 100%;
    object-fit: contain;   
}
@media (max-width: 990px) {
    .ocultar-mobile { 
        display: none;
    }
    .mostrar-mobile { 
        display: block;
    }
    .contenido .text-white-mobile {
       color: #ffffff !important;  
    }    
}