

<header class="mt-4 container-header">
    <nav class="navbar navbar-expand-lg w-85 mx-auto p-0">
      <div class="container-fluid ">
      <a href="file:///C:/Users/crist/Desktop/Super_Casas/principal.html" class="navbar-brand">
      <img src="logo-vistana.jpg" alt="Logo de la empresa" class="logo-img">
    </a>
   <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" 
   aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
     <div class="collapse navbar-collapse  justify-content-end"  id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
           aria-expanded="false">
            Principal
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="principal.html#Arrendamiento">Arrendamiento</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="principal.html#Compra">Compra</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="principal.html#Finca">Finca Raiz</a></li>
          </ul>
        </li>
           <li class="nav-item">
              <a href="portafolio.html" class="nav-link">Portafolio</a>
           </li>
           <li class="nav-item">
              <a href="acerca.html" class="nav-link">Acerca  de</a>
           </li>
           <li class="nav-item">
              <a href="contacto.html" class="nav-link">Contacto</a>
           </li>
           <li class="nav-item">
            <a href="indexLocalStorage.html" class="nav-link"><i class="bi bi-cart4"></i></a>
         </li>
          </ul>
         </div>
    </div>               
  </nav>
  </header>

  <section class="position-relative">
    <video loop controls muted class="ocultar-mobile">
      <source src="Video-showroom.mp4" type="video/mp4">
    </video>
    <img src="image-5.webp" alt="" class="mostrar-mobile imagen-banner">      
<div class="w-85 mx-auto">
  <div class="contenido position-absolute">
    <p class="text-black fw-normal text-white-mobile"> CONOCE NUESTROS PROYECTOS </p>
    <h1 class="text-black fw-semibold text-white-mobile">
       Adquiere Tu Vivienda
    </h1>
    <p class="text-black  fw-ligth text-white-mobile"><span class="text-danger"> EN VISTANA, </span> nos dedicamos a ayudarte a encontrar la casa de tus sueños.
       Con años de experiencia en el mercado inmobiliario, ofrecemos una amplia selección de propiedades que se adaptan a tus necesidades y presupuesto.
    </p>
    <a href="indexLocalStorage.html"><button type="button" class="btn btn-outline-danger rounded-pill">Comprar</button></a>
   </div>
  </div>
