  <app-header></app-header>

  <section class="position-relative">
    <video loop controls muted class="ocultar-mobile">
      <source src="Video-showroom.mp4" type="video/mp4">
    </video>
    <img src="image-5.webp" alt="" class="mostrar-mobile imagen-banner">      
<div class="w-85 mx-auto">
  <div class="contenido position-absolute">
    <p class="text-black fw-normal text-white-mobile"> CONOCE NUESTROS PROYECTOS </p>
    <h1 class="text-black fw-semibold text-white-mobile">
       Adquiere Tu Vivienda
    </h1>
    <p class="text-black  fw-ligth text-white-mobile"><span class="text-danger"> EN VISTANA, </span> nos dedicamos a ayudarte a encontrar la casa de tus sueños.
       Con años de experiencia en el mercado inmobiliario, ofrecemos una amplia selección de propiedades que se adaptan a tus necesidades y presupuesto.
    </p>
    <a href="indexLocalStorage.html"><button type="button" class="btn btn-outline-danger rounded-pill">Comprar</button></a>
   </div>
  </div>
  </section>

<section class="tarjetas-servicios" id="Arrendamiento">
  <div class="container-fluid container-cards">
    <div class="row">
      <div class="col-sm-12 col-lg-4 col-md-4 p-0">
        <div class="card card-primero text-white text-center">
          <img src="OIP.jpeg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-black">Arrendamiento</h5>
            <p class="card-text text-black">“El mejor momento para arrendar una propiedad es ahora. ¡No dejes pasar esta oportunidad!”</p>
            <a href="portafolio.html #arriendo-portafolio"><button type="button" class="btn btn-minimo btn-outline-primary rounded-pill">conócelo</button></a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4 col-md-4 p-0">
        <div class="card card-primero text-white text-center ">
          <img src="OIP (3).jpeg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-black">Arrendamiento</h5>
            <p class="card-text text-black">“Casa recién renovada con todas las comodidades modernas. ¡Lista para mudarse!”</p>
            <a href="portafolio.html #arriendo-portafolio"><button type="button" class="btn btn-minimo btn-outline-primary rounded-pill">Mira esta opción</button></a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4 col-md-4 p-0">
        <div class="card card-primero text-white text-center">
          <img src="casa-con-fachada.jpeg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title text-black">Arrendamiento</h5>
            <p class="card-text text-black">“Amplio y luminoso apartamentos ideales para todas las familias, Además un buen hogar es aquel donde te sientes cómodo y seguro.”</p>
            <a href="portafolio.html #arriendo-portafolio"><button type="button" class="btn btn-minimo btn-outline-primary rounded-pill">Encuentralo Aquí</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="reconocimiento py-5 " id="Compra">
  <div class="container container-compra">
    <div class="row align-items-center">
      <div class="col-6 ps-5">
        <img src="compra_de_vivienda_2.jpeg" alt="" class="img-fluid border border-danger ">
         </div>
         <div class="col-6 ps-5" >
         <h2><span class="text-danger"> Compra </span>  <p>“No querrás perder la oportunidad de ver esto.”</p></h2>
         <img src="five-stars.png" alt="" class="img-five">
         <p> Comprar una casa es un paso significativo y emocionante en la vida de cualquier persona.
          Ademas implica encontrar el lugar perfecto. <p> <span class="text-danger"> ¡Nosotros Te Ayudamos! </span> </p>
         <a href="portafolio.html #compra-portafolio"><button type="button" class="btn btn-outline-danger rounded-pill">Conoce más...</button></a>
    </div>
  </div>
</div>
</section> 

<section class="reconocimiento-dos py-5" id="Finca">
<div class="container container-finca">
  <div class="row align-items-center">
    <div class="col-6 ps-5 order-2">
      <img src="finca_Raiz-2png.jpeg" alt="" class="img-fluid border border-warning ">
       </div>
       <div class="col-6 ps-5">
       <h2><span class="text-warning">Finca Raíz</span> <p class="text-white">“Invertir es una excelente opción.”</p> </h2>
       <img src="five-stars-yellow.png" alt="" class="img-five">
       <p class="text-white"> “La finca raíz no puede ser robada ni trasladada. Comprada con sentido común, pagada de contado y manejada con cuidado razonable, es la inversión más segura del mundo.” </p> 
        <p class="text-white">- Franklin D. Roosevelt</p>
        <a href="portafolio.html #finca-portafolio"> <button type="button" class="btn btn-outline-warning rounded-pill">Conoce más...</button></a>
  </div>
</div>
</div>
</section>

  
  <app-footer></app-footer>







