<section class="card-portafolio-dos"  id="compra-portafolio">
  <div class="container-fluid ">
      <div class="row py-5">
    <h1 class="pb-4"><span class="text-black">Compra... ¿ Qué Esperas ?</span> </h1>
        <div class="col-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="OIP (6).jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><span class="text-danger">Vendida</span></h5>
                    <p> <i class="bi bi-house-fill"></i> 6 Habitaciones </p> 
                    <p> <i class="bi bi-car-front"></i> 4 Estacionamientos</p>
                    <p>  <i class="bi bi-tree-fill"></i> Parques Naturales</p>
                    <p>  <p>  <i class="bi bi-cash-coin"></i> Desde: 650'000.000 millones</p>
                    <p class="card-text"><small class="text-body-secondary">Sede Tabio, Cundinamarca. Colombia</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="OIP (5).jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <span class="text-success"><h5 class="card-title">En Venta...</h5></span>
                    <p> <i class="bi bi-house"></i> 4 Habitaciones </p> 
                    <p> <i class="bi bi-car-front-fill"></i> 3 Estacionamientos</p>
                    <p>  <i class="bi bi-xbox"></i> Zona de juegos</p>
                    <p>  <i class="bi bi-cash-stack"></i> Desde: 750'000.000 millones</p>
                    <p class="card-text"><small class="text-body-secondary">Sede Chía, Cundinamarca. Colombia</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="OIP (4).jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <span class="text-success"><h5 class="card-title">En Venta...</h5></span>
                    <p> <i class="bi bi-house"></i> 5 Habitaciones </p> 
                    <p> <i class="bi bi-car-front-fill"></i> 2 Estacionamientos</p>
                    <p>  <i class="bi bi-person-arms-up"></i> Gimnasio </p>
                    <p>  <p>  <i class="bi bi-cash-stack"></i> Desde: 850'000.000 millones</p>
                    <p class="card-text"><small class="text-body-secondary">Sede Cajicá, Cundinamarca, Colombia</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-6">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="R.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><span class="text-warning">Proximamente en Venta</span> </h5>
                    <p> <i class="bi bi-house-fill"></i> 3 Habitaciones </p> 
                    <p> <i class="bi bi-car-front"></i> 1 Estacionamientos</p>
                    <p> <i class="bi bi-playstation"></i> Zona de Juegos</p>
                    <p> <i class="bi bi-cash-coin"></i> Desde: 950'000.000 millones</p>
                    <p class="card-text"><small class="text-body-secondary">Sede Funza, Cundinamarca, Colombia</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>
</section>

<section class="card-portafolio-tres"  id="finca-portafolio">
  <div class="container-fluid">
      <div class="row py-5 p-0>">
       <h1 class="pb-4 text-end"><span class="text-white"> “ Gestiona Tus Bienes ”</span> </h1>
        <div class="col">
          <div class="card">
              <img src="watermark.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><span class="text-primary">Para Invertir</span></h5>
                <p class="card-text">Ofrecemos una extensa selección de inmuebles en todo el país, asegurando que encuentres exactamente lo que buscas.</p>
                <p class="card-text"> <i class="bi bi-cash"></i> <small class="text-body-secondary">Invierte desde 4'600.000.000</small></p>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title"><span class="text-primary">Para Vender</span> </h5> 
                <p class="card-text">Recibe notificaciones en tiempo real sobre nuevas propiedades y cambios en los precios.</p>
                <p class="card-text"> <i class="bi bi-cash"> </i> <small class="text-body-secondary">puedes vender desde 6'550.000.000 </small></p>
              </div>
              <img src="OIP (2).jpeg" class="card-img-top" alt="...">
            </div>
        </div>
      </div>