<app-header></app-header>

<app-formulario></app-formulario>


<section class="reconocimiento-tres py-2 p-0 text-center" id="">
    <div class="container container-objetivo">
      <div class="row align-items-center">
        <div class="col-12 ps-5 py-5">
           <h3 class="text-white">Nuestro objetivo es facilitar tu búsqueda y hacer que el proceso de compra sea lo más sencillo y agradable posible.
             Navega por nuestras ofertas, descubre las características únicas de cada propiedad y encuentra el lugar ideal que siempre has deseado. 
             ¡Tu nuevo hogar te espera!</h3>
      </div>
    </div>
</div>
  </section>
  
<footer>
  <div class="container-fluid text-center py-5">
    <div class="row">
      <h3 class="footer"> Nuestros aliados de confianza de grandes y pequeños proyectos </h3>
      <div class="col-3 py-3"><img src="comfama.jpeg" alt="" class="img-aliados"></div>
      <div class="col-3 py-3"><img src="Colsubsidio.jpg" alt="" class="img-aliados"></div>
      <div class="col-3 py-3"><img src="compensar.jpeg" alt="" class="img-aliados"></div>
      <div class="col-3 py-3"><img src="cafam.jpeg" alt="" class="img-aliados"></div>
    </div>
</div>
</footer>
