.img-aliados{
    width: 45%;
}

.reconocimiento-tres{
    background: #6e6266!important;
}

.container-objetivo{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal; 
  }