<app-header></app-header>

<section class="card-portafolio position-relative">
    <img src="xcapellania.jpg" class="card-img" alt="...">
    <div class="w-85 mx-auto">
    <div class="contenido-dos position-absolute">
      <h4 class="card-text fw-normal text-white-mobile"> CONOCE NUESTROS PROYECTOS </h4>
      <h1 class="card-text fw-semibold text-white-mobile">EN VISTANA</h1>
    </div>
  </div>
</section>


<app-cards-portafolio></app-cards-portafolio>


<section  id="arriendo-portafolio">
  <div class="container-fluid">
    <div class="row py-5">
      <h1 class="pb-4"><span class="text-black"> ¡ Arriendo Ideal !</span> </h1>
      <div class="col">
        <video loop controls muted class="video-portafolio">
          <source src="Video de WhatsApp 2024-07-14 a las 12.06.50_4f5c2967.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col">
        <video loop controls muted class="video-portafolio">
          <source src="Video-2-3-4-habitaciones.mp4" type="video/mp4">
        </video>
      </div>
    </div>

<footer>
  <div class="container-fluid text-center">
    <div class="row py-3">
      <h3 class="footer pb-4 ">Constructoras Aliadas </h3>
      <div class="col-3 py-3"><img src="ar.jpeg" alt="" class="img-aliados"></div>
      <div class="col-3 py-3"><img src="amarilo.jpeg" alt="" class="img-aliados"></div>
      <div class="col-3 py-3"><img src="acierto.jpeg" alt="" class="img-aliados"></div>
      <div class="col-3 py-3"><img src="prodesa.png" alt="" class="img-aliados"></div>
    </div>
