<!--<section  class="pb-4 py-4" id="compras">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 24rem;">
            <div  id="summary-shop"  class="card-body border border-danger">
              <h4 class="card-title"><i class="bi bi-shop"></i> Tienda </h4>
              <button onclick="toggleListado()" class="btn btn-outline-danger">Ver listado del Carrito</button>
             <span id="count-car">0 </span> productos
              <div id="listadoCart"></div>
            </div>
          </div>
        </div>
   

    <section  id="product">
      <div class="container container-fluid">
      <div class="row">
        <div class="row">
          <div class="col-sm-12 col-lg-4 col-md-4 py-3">
            <div class="card border-danger-subtle border-2" style="width: 18rem;">
              <img src="repacion baños.jpeg" class="card-img-top " alt="...">
              <div class="card-body">
                <h3 class="card-title">Baño</h3>
                <h4>1-4<span class="text-danger"> Semanas</span></h4>
                <p> <i class="bi bi-cash-coin"></i> Desde: 11'700.296 millones</p>
                <button onclick="agregarProducto('Baño')" class=" btn btn-outline-danger">Agregar carrito</button>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-4 col-md-4 py-3">
            <div class="card border border-warning" style="width: 18rem;">
              <img src="reparacion de cocinas.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">Cocina</h3>
                <h4>4-8<span class="text-warning"> Semanas</span></h4>
                <p> <i class="bi bi-cash-coin"></i> Desde: 16'380.415 millones</p>
                <button onclick="agregarProducto('Cocina')" class="btn btn-outline-warning">Agregar carrito</button>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-4 col-md-4 py-3">
            <div class="card border border-warning-subtle" style="width: 18rem;">
              <img src="reparacion habitacion.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">Habitaciones</h3>
                <h4>2-4<span class="text-warning"> Semanas</span></h4>
                <p> <i class="bi bi-cash-coin"></i> Desde: 21'060.533 millones</p>
                <button onclick="agregarProducto('Habitacion')" class="btn btn-outline-warning">Agregar carrito</button>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-sm-12 col-lg-4 col-md-4 py-3">
          <div class="card border border-success" style="width: 18rem;">
            <img src="fachada.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Fachadas</h3>
              <h4>2-4<span class="text-success"> Semanas</span></h4>
              <p> <i class="bi bi-cash-coin"></i> Desde: 17'316.438 millones</p>
              <button onclick="agregarProducto('Fachada')" class="btn btn-outline-success">Agregar carrito</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-4 py-3">
          <div class="card border border-success-subtle" style="width: 18rem;">
            <img src="sala-comedor.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Sala-Comedor</h3>
              <h4>3-6<span class="text-success"> Semanas</span></h4>
              <p> <i class="bi bi-cash-coin"></i> Desde: 14'040.355 millones</p>
              <button onclick="agregarProducto('Sala')" class="btn btn-outline-success">Agregar carrito</button>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-4 py-3">
          <div class="card border border-primary" style="width: 18rem;">
            <img src="patio.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Zona de Lavado</h3>
              <h4>2-5<span class="text-primary"> Semanas</span></h4>
              <p> <i class="bi bi-cash-coin"></i> Desde: 9'360.237 millones</p>
              <button onclick="agregarProducto('Zona de Lavado')" class="btn btn-outline-primary">Agregar carrito</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->


    <section  class="pb-4 py-4" id="compras">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 24rem;">
              <div  id="summary-shop"  class="card-body border border-danger">
                <h4 class="card-title"><i class="bi bi-shop"></i> Tienda </h4>
                <button (click)="toggleListado()" class="btn btn-outline-danger">Ver listado del Carrito</button>
               <span id="count-cart"> {{countCart}} </span> productos
                <div id="listadoCart" [className]="isOn ? 'desplegado' : '' "></div>
              <div *ngFor="let item of listadoCarrito">
                <span>{{item.cantidad}} {{item.id}}</span>              
              </div>
              </div>
            </div>
          </div>
          </div>
          </div>
    </section>


    <section  id="product">
      <div class="container container-fluid">
      <div class="row">
        <div *ngFor="let e of informacionservicio" class="col-sm-12 col-lg-4 col-md-4 py-3">
          <div class="card border-danger-subtle border-2" style="width: 18rem;">
            <img src={{e.imagen}} class="card-img-top " alt="...">
            <div class="card-body">
              <h3 class="card-title">{{e.titulo }}</h3>
              <h4>{{e.semanas}}<span class="text-danger"> Semanas</span></h4>
              <p> <i class="bi bi-cash-coin"></i> Desde: {{e.precio}}</p>
              <button (click)="agregarAlCarrito(e.titulo)" class=" btn btn-outline-danger">{{e.texto}}</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!--<ul>  
      <li *ngFor="let e of informacionservicio">    
        <h3>Titulo: {{e.titulo}}</h3>   
        <h4>Semanas: {{e.semanas}} </h4>    
        <p>Precio: {{e.precio}}</p>  
        <button>Boton: {{e.texto}} </button> </li>
      </ul> -->





